In [23]:
#Import Early dependencies

import pandas as pd
import seaborn as sns


import numpy as np
import csv

In [24]:
#read the two csv's in question
measurment_df = pd.read_csv("../Resources/data/hawaii_measurements.csv")
station_df = pd.read_csv("../Resources/data/hawaii_stations.csv")

In [25]:
#Start to clean measurement csv
measurment_df.count()
measurment_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [26]:
measurment_df['prcp'].fillna(0, inplace=True)
#measurment_df.describe()
measurment_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [27]:
#save to csv
measurment_df.to_csv("./clean_measurement.csv", index=False, header=True)

In [28]:
#Start to clean station 
station_df.head()
station_df.count()

#need to drop last column
del station_df['location']
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [29]:
station_df.dtypes

station       object
name          object
latitude     float64
longitude    float64
elevation    float64
dtype: object

In [30]:
#save to a new csv
station_df.to_csv('./clean_station.csv', index=False, header=True)

In [31]:
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [32]:
measurment_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73